body{
    background-color: #CBCBCB;
}
.container{
   display: flex;
   flex-direction: row;
   
   height: 80vh;
   align-items: flex-end;
   background-color: #B9BEC8;
   justify-content: space-around;

}

.center{
    display: flex;
    align-items: center;
   justify-content: center;
    
    height: 80vh;
 
}
.leader{
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
   
}
.reciever{
    display: flex;
    
    flex-direction: column;
    
    justify-content: space-between;
  
}
.container-1{
    background-color:#202226d8;
    margin: 15px;
    padding: 10px;
    text-align: center;
    color: white;
}

