
body{
    background-color: #292C33;
}
.logo-image{
    width: 30%;
    padding-left: 20px;
}
a{
    text-decoration: none;
    color: white;

}
a:hover{
    color: red;
    text-decoration: underline;
    transition: ease(2.5s);
}
header{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 1em;
}
.nav-bar--holder{
    display: flex;
    flex-direction: row;
    float: right;
}
.holder-1{
    padding: 15px;
    list-style-type: none;
}
@media (max-width:790px){
    .logo-image{
        width: 50%;
    }
}