
body{
    background-image: url(/backgroud.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.logo-image{
    width: 30%;
    padding-left: 20px;
}
a{
    text-decoration: none;
    color: white;

}
a:hover{
    color: red;
    text-decoration: underline;
    transition: ease(2.5s);
}
header{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 1em;
}
.nav-bar--holder{
    display: flex;
    flex-direction: row;
    float: right;
}
.holder-1{
    padding: 15px;
    list-style-type: none;
}

.header{
    color: white;
    display: flex;
    margin: auto;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
    font-size: 4vh;

}
.image-holder{
    position: relative;
    height: 50vh;
}
.imgg{

   
    
    display: flex;
    justify-content: center;
    margin: auto;
    
}
#center{
    position: relative;
    
   
    
    transform: translate(0,-115%);
}

.additional {
    display: flex;
    flex-direction: column;
   font-size: 2vh;
   color: white;
    align-items: center;
    margin-top: 20px;
}
.additional-one{
    margin: auto;
}
.more{
   
   background-color: #3c3d4e;
   color: white;
   border: 2px solid white transparent;
   padding: 10px 35px 10px 35px;
   border-radius: 10px;
   font-size: 18px;

    
}
.more:hover{
    color: blue;
    
}

@media (max-width:790px){
    .logo-image{
        width: 50%;
    }
}