.logo-image{
    max-width: 20%;
}
header{
    /* display: flex; */
  border: 1px solid;
  display: flex;
  flex-direction: row;
  
  
  
  
}
.nav-bar--holder{
    border: 1px solid  green;
    
}
.holder-1{
    padding: 15px;
    list-style-type: none;
    padding: 25px;
    
}