body{
     background-image: url("/images/backgroud.PNG");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
   
    
    color: red;
   
}
img{
    width: 90%;
    
}
.containier{
   
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 85vh;
    
}

.roads{
  
    color: rgb(245, 249, 245);
    font-size: 2em;
    font-weight: bold;
}
@media (max-width:790px) {
    img {
        width: 60%;
    }
    .containier{
        height: 80vh;
    }
    .roads {
    
        color: rgb(245, 249, 245);
        font-size: 1.5em;
        font-weight: bold;
    }
}
